root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript, HTML, CSS, JSON, YAML
[*.{js,jsx,ts,tsx,html,css,json,yaml,yml}]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4

# Markdown
[*.md]
indent_style = space
indent_size = 4

# Terraform
[*.tf]
indent_style = space
indent_size = 2

# Ansible
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
